.text{
    color:#0088A2;
    font-size: 52px;
    font-family: "Josefin Sans", sans-serif;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    position: relative;
    top: 88px;
}
.iconka img{
    width: 214px;
    height: 213px;
}
.section1{
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
}
.textes{
    position: relative;
    width: 1560px;
    display: flex;
    justify-content: space-between;
    background-color: #808080;
    top: 200px;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}
.textes button {
  padding: 12px 30px;
  font-size: 26px;
  background: #808080;
  color: aliceblue;
  border: none;
  cursor: pointer;
}

.textes button:hover {
  background: #0088A2;
}
.section2{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 300px;
}
.images{
    position: relative;
}
.box{

}

.zaebon{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 90px;
    left: 50px;
    display: flex;
    text-align: center ;
}
.zaebon1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 90px;
    padding-left: 50px;
    display: flex;
    text-align: center ;
}
.zaebon2{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 90px;
    padding-left: 50px;
    display: flex;
    text-align: center ;
}
.yesorno{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    display: flex;
    text-align: center ;
}
.yes{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 90px;
    padding-left: 120px;
    display: flex;
    text-align: center ;
}
.no{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 90px;
    padding-left: 290px;
    display: flex;
    text-align: center ;
}
.h11{
    color: #0088A2;
    font-size: 40px;
    position: absolute;
    top: 890px;
    left: 560px;
    display: flex;
    text-align: center ;
}
.imago{
    position: absolute;
    top: 1050px;
    left: 170px;
}
.glavniimago{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1650px;
    left: 270px;
}
.imago1{
    position: absolute;
    top: 30px;
    left: -30px;
    z-index: 10;
}
.imago2{
    position: absolute;
    top: 90px;
    left: 150px;
    z-index: 20;
}
.imago3{
    position: absolute;
    top: 30px;
    left: 350px;
    z-index: 30;
}
.imago4{
    position: absolute;
    top: 90px;
    left: 550px;
    z-index: 40;
}
.imago5{
    position: absolute;
    top: 30px;
    left: 750px;
    z-index: 50;
}
.h12{
    color: #0088A2;
    font-size: 40px;
    position: absolute;
    top: 2250px;
    left: 560px;
    display: flex;
    text-align: center ;
}
.p12{
    color: #808080;
    font-size: 32px;
    position: absolute;
    top: 2350px;
    left: 350px;
    display: flex;
    text-align: center ;
}
.h13{
    color: #0088A2;
    font-size: 40px;
    position: absolute;
    top: 2650px;
    left: 660px;
    display: flex;
    text-align: center ;
}
.cousenimago{
    position: absolute;
    top: 2800px;
    left: 200px;
}
.cousenimago1{
    position: absolute;
    top: 2800px;
    right: 200px;
}
.p13{
    color: #808080;
    font-size: 28px;
    position: absolute;
    top: 3150px;
    left: 250px;
    display: flex;
    text-align: center ;
}
.footer {
    position: absolute;
    top: 3450px;
    width: 1560px;
    background: #269ab3;
    color: white;
    padding: 30px 20px;
    text-align: center;
    font-family: sans-serif;
}

.footer-top h2 {
    margin-bottom: 10px;
    margin-left: -50px;
    font-size: 40px;
}

.social-icons img {
    width: 50px;
    margin: -40px 10px ;
    padding-right: 30px;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    padding: 10px;
}